In [1]:
import pandas as pd
import os

import phonenumbers

In [2]:
DATA_PATH = '../data'

In [ ]:
main1 = pd.read_csv(os.path.join(DATA_PATH, 'main1.csv'))

In [3]:
main2 = pd.read_csv(os.path.join(DATA_PATH, 'main2.csv'))

In [5]:
main3 = pd.read_csv(os.path.join(DATA_PATH, 'main3.csv'))

In [10]:
main1.head()

,uid,full_name,email,address,sex,birthdate,phone
0,8357db00-b4ce-4c33-a66e-1842744d0ce4,БАЛКИБАЕВ Углы МАМАСАИД КАРЛИТО,mamasaid_balkibaev0@example.ru,"г. Урус-Мартан, пер. Шмидта, д. 233 к. 6/4, 63...",m,1954-06-15,8 (020) 645-0526
1,a40182ff-7b3c-4fe4-9455-505414bf6f1c,ИГИНОВА ЮТТА КОНДРАТЬЕВНП,jutta_iginova1@yandex.ru,"бул. Есенина, д. 2/3 стр. 180, 881977",f,1981-11-24,8 (197) 128-63-27
2,2b401a4a-33c0-47e0-b527-300e17b3a8da,МИРОДИЛОВ ЗАФЕР РОБЕРТ,zafer_mirodilov2@mail.ru,"ст. Красногорск (Моск.), ул. Урожайная, д. 4/9...",m,1954-07-03,+7 585 762 7855
3,a844b52d-6fc8-4aac-9180-092cf3cba7b0,5МИРОДИЛОВ ЗАФЕР РОБЕРТ,zafer_mirodilov2mail,"ст. Красногорск (Моск.), ул. Урожайная, д. 4/9...",m,954-01-01,+7 (585) 762 7855
4,95b72c05-1620-4f55-b3d4-c5151ff83184,БОРОВАЯ ШАХЗОДА НИКОЛАЕВНА,shahzoda_borovaja3@gmail.com,"к. Устюжна, ш. Инженерное, д. 1/7 к. 4, 782855",f,1989-07-15,+7 017 511 8662

In [11]:
main_part = main1[:1000]
main_part.head(2)

,uid,full_name,email,address,sex,birthdate,phone
0,8357db00-b4ce-4c33-a66e-1842744d0ce4,БАЛКИБАЕВ Углы МАМАСАИД КАРЛИТО,mamasaid_balkibaev0@example.ru,"г. Урус-Мартан, пер. Шмидта, д. 233 к. 6/4, 63...",m,1954-06-15,8 (020) 645-0526
1,a40182ff-7b3c-4fe4-9455-505414bf6f1c,ИГИНОВА ЮТТА КОНДРАТЬЕВНП,jutta_iginova1@yandex.ru,"бул. Есенина, д. 2/3 стр. 180, 881977",f,1981-11-24,8 (197) 128-63-27

In [34]:
def replace_phone_0(phone: str) -> str:
    for i in range(1, 10):
        phone = phone.replace(f'{i}', '0')
    phone = phone.replace(' ', '')
    phone = phone.replace('(', '')
    phone = phone.replace(')', '')
    phone = phone.replace('-', '')
    if phone[0] == '+':
        phone = phone.replace('+', '')

    if len(phone) < 10:
        return 'error'
    return phone

In [35]:
main1['phone'].map(lambda x: replace_phone_0(x)).value_counts()

phone
00000000000     6999811
error           1380320
000000000000      55457
000000i0000        5067
00o00000000        4997
                 ...
00s0i00i000           1
000is000si0           1
00o00s0i00i           1
00io00000s0           1
00s00oso000           1
Name: count, Length: 4669, dtype: int64

In [4]:
main2.head()

,uid,first_name,middle_name,last_name,birthdate,phone,address
0,fd0eb198-eeef-4ff9-a983-26dd9aebb084,МАМАСАИД,КАРЛИТО,БAЛKИБАEВ,1954-06-15,8 (020) 6450526,"г. Урус-Мартан, пер. Шмидта, д. 233 к. 6/4, 63..."
1,7ac130fe-690e-4e39-9b25-b141095f3eec,ЗАФЕР,РОБЕРТ,МИИРОДИЛОВ,1954-07-03,+7 (585) 762 7855,"ст. Красногорск (Моск.), ул. Урожайная, д. 4/9..."
2,f564db39-b7b1-4643-8d24-4759d5ba6ba5,ШАХЗОДА,НИКОЛАЕВНА,БОРОВАЯ,1989-07-15,511-86-62,"к. Устюжна, ш. Инженерное, д. 1/7 к. 4, 782855"
3,93c32877-6cf0-48f9-bb1e-c67794f08541,НУРСУЛУ,Неетт,КУРБОНОВА,2000-10-21,+7 (180) 759-21-51,"клх Кулу, пер. Кирова, д. 8 стр. 51, 713661"
4,a207993d-185f-4b86-bda6-6ce2c0c6a0ff,ЮРРИЙ,ЯКУП,КРИЛОВ,1965-05-31,66576,"с. Солнечногорск, ш. Краснопартизанское, д. 83..."

In [6]:
main3.head(3)

,uid,name,email,birthdate,sex
0,9185f879-6289-4ad6-9cb0-ed7cb6cb652b,МАМАСАИД ЬАДКИБАЕВ,mamasaid_balkibaev0@example.ru,9145-06-15,m
1,289fcf9e-af05-43cf-a6d4-1d1d3cf5131f,ЮТТА ИГИНОВА,jutta_ihinova1;yanddx,1981-11-24,f
2,c2b04755-ebd8-4625-b8bb-4131ca049415,ЗАФЕР МИРОДИЛОВ,zafer_mirodilov2@mail.ru,1954,m