In [12]:
import pandas as pd
import os

import phonenumbers

In [4]:
DATA_PATH = "../data"

In [5]:
main1 = pd.read_csv(os.path.join(DATA_PATH, "main1.csv"))

In [10]:
main1.head()

,uid,full_name,email,address,sex,birthdate,phone
0,8357db00-b4ce-4c33-a66e-1842744d0ce4,БАЛКИБАЕВ Углы МАМАСАИД КАРЛИТО,mamasaid_balkibaev0@example.ru,"г. Урус-Мартан, пер. Шмидта, д. 233 к. 6/4, 63...",m,1954-06-15,8 (020) 645-0526
1,a40182ff-7b3c-4fe4-9455-505414bf6f1c,ИГИНОВА ЮТТА КОНДРАТЬЕВНП,jutta_iginova1@yandex.ru,"бул. Есенина, д. 2/3 стр. 180, 881977",f,1981-11-24,8 (197) 128-63-27
2,2b401a4a-33c0-47e0-b527-300e17b3a8da,МИРОДИЛОВ ЗАФЕР РОБЕРТ,zafer_mirodilov2@mail.ru,"ст. Красногорск (Моск.), ул. Урожайная, д. 4/9...",m,1954-07-03,+7 585 762 7855
3,a844b52d-6fc8-4aac-9180-092cf3cba7b0,5МИРОДИЛОВ ЗАФЕР РОБЕРТ,zafer_mirodilov2mail,"ст. Красногорск (Моск.), ул. Урожайная, д. 4/9...",m,954-01-01,+7 (585) 762 7855
4,95b72c05-1620-4f55-b3d4-c5151ff83184,БОРОВАЯ ШАХЗОДА НИКОЛАЕВНА,shahzoda_borovaja3@gmail.com,"к. Устюжна, ш. Инженерное, д. 1/7 к. 4, 782855",f,1989-07-15,+7 017 511 8662

In [11]:
main_part = main1[:1000]
main_part.head(2)

,uid,full_name,email,address,sex,birthdate,phone
0,8357db00-b4ce-4c33-a66e-1842744d0ce4,БАЛКИБАЕВ Углы МАМАСАИД КАРЛИТО,mamasaid_balkibaev0@example.ru,"г. Урус-Мартан, пер. Шмидта, д. 233 к. 6/4, 63...",m,1954-06-15,8 (020) 645-0526
1,a40182ff-7b3c-4fe4-9455-505414bf6f1c,ИГИНОВА ЮТТА КОНДРАТЬЕВНП,jutta_iginova1@yandex.ru,"бул. Есенина, д. 2/3 стр. 180, 881977",f,1981-11-24,8 (197) 128-63-27

In [30]:
def replace_phone_0(phone: str) -> str:
    for i in range(1, 10):
        phone = phone.replace(f"{i}", "0")
    phone = phone.replace(" ", "")
    phone = phone.replace("(", "")
    phone = phone.replace(")", "")
    phone = phone.replace("-", "")

    if len(phone) < 10:
        return "error"
    return phone

In [31]:
main1["phone"].map(lambda x: replace_phone_0(x)).value_counts()

phone
00000000000        3643770
+00000000000       3356041
error              1380320
000000000000         36697
+000000000000        18760
                    ...
000s00s00o0              1
+000o000000o000          1
+000s0s000si             1
00o0000000i0             1
000i0ii0000              1
Name: count, Length: 6661, dtype: int64

In [ ]:
def phone_format(phone: str) -> str:
    phone = phone.replace(" ", "")
    phone = phone.replace("(", "")
    phone = phone.replace(")", "")
    phone = phone.replace("-", "")
    
    return phone

In [ ]:
from clickhouse_driver import Client
import uuid
class ClickhouseClient:
    def __init__(self):
        self.client = Client(host='clickhouse', port=9000, user='default', password='', database='default')

    def get_query(self, query):
        result = self.client.execute(query)
        return result
    
    def add_new_row(self, uid1: uuid.UUID, uid2: uuid.UUID, uid3: uuid.UUID):
        self.client.execute('INSERT INTO table_results (id_is1, id_is2, id_is3) VALUES', [([uid1], [uid2], [uid3])])