In [1]:
TABLE1_PATH = "../data/public/main1.csv"
TABLE2_PATH = "../data/public/main2.csv"
TABLE3_PATH = "../data/public/main3.csv"

In [2]:
# for path in (TABLE1_PATH, TABLE2_PATH, TABLE3_PATH):
#     print(f"File: {path}")
#     with open(path) as f:
#         k = 0
#         for line in f:
#             if k == 0:
#                 print(line)
#             k += 1
#         print(f"Total lines: {k}")
#     print()

In [3]:
import pandas as pd

LIMIT_SIZE = 10000
table1 = pd.read_csv(TABLE1_PATH, nrows=LIMIT_SIZE)
table2 = pd.read_csv(TABLE2_PATH, nrows=LIMIT_SIZE)
table3 = pd.read_csv(TABLE3_PATH, nrows=LIMIT_SIZE)

table1.to_csv("../data/subset_main1.csv", index=False)
table2.to_csv("../data/subset_main2.csv", index=False)
table3.to_csv("../data/subset_main3.csv", index=False)

In [4]:
print(f"Table 1 columns: {list(table1.columns)}")
print(f"Table 2 columns: {list(table2.columns)}")
print(f"Table 3 columns: {list(table3.columns)}")

Table 1 columns: ['uid', 'full_name', 'email', 'address', 'sex', 'birthdate', 'phone']
Table 2 columns: ['uid', 'first_name', 'middle_name', 'last_name', 'birthdate', 'phone', 'address']
Table 3 columns: ['uid', 'name', 'email', 'birthdate', 'sex']

In [5]:
total_columns = ["uid", "name", "birthdate", "phone", "address", "sex", "email"]

In [8]:
from app.processor import Processor

# table1["name"] = table1["full_name"]
processor = Processor(table3)
processor.clean_data()
processor.df

,uid,name,email,birthdate,sex,phone,address
0,9185f879-6289-4ad6-9cb0-ed7cb6cb652b,МАМАСАИД ЬАДКИБАЕВ,mamasaid_balkibaev,91450615,m,,None
1,289fcf9e-af05-43cf-a6d4-1d1d3cf5131f,ЮТА ИГИНОВА,jutta_ihinova,19811124,f,,None
2,c2b04755-ebd8-4625-b8bb-4131ca049415,ЗАФЕР МИРОДИЛОВ,zafer_mirodilov,1954,m,,None
3,49978ae8-51fe-4a74-908e-22ec9e693855,ШАХЗОДА БОРОВАЯ,shahzoda_borovaja,29890715,f,,None
4,75e199c5-86fa-4d3b-b1ea-783ecc26b021,НУРСУЛУ КУРБОНОВА,nursulu_kurbonova,20001021,f,,None
...,...,...,...,...,...,...,...
9995,00e8d20c-892d-4a86-95c8-55803cf8eed1,ОЛЬГА СКЛЯРОВА,olga_skljarova,19611109,f,,None
9996,5b6df51d-a2db-4d1f-909f-9c8377350a5e,ЭДУАРД НАСИРОВ,eduard_nasirov,19960107,m,,None
9997,7b37c848-a237-4947-a929-143bfb588b4f,ИНТИЗОР КОНДРАСХЕВА,intizor_kondrasheva,78911130,f,,None
9998,f5e48d34-7c6c-4516-a752-b03ec6e6a693,САИДЖОН АНОРОВ,saidzhon_anorov,19860804,m,,None
9999,a160eae2-21b2-42c9-a8a1-977286800e7d,ЖАНЫЛСЫН БЕЛ,zhanylsyn_bell,30000614,f,,None